[submodule "pack/nav/start/ctrlp.vim"]
	path = pack/nav/start/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "pack/nav/start/nerdtreej"]
	path = pack/nav/start/nerdtreej
	url = git@github.com:scrooloose/nerdtree.git
[submodule "pack/util/start/surround"]
	path = pack/util/start/surround
	url = git@github.com:tpope/vim-surround.git
[submodule "pack/util/start/emmet"]
	path = pack/util/start/emmet
	url = git@github.com:mattn/emmet-vim.git
[submodule "pack/util/start/airline"]
	path = pack/util/start/airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "pack/util/start/editorconfig"]
	path = pack/util/start/editorconfig
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "pack/web/start/typescript"]
	path = pack/web/start/typescript
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "pack/web/start/tsx"]
	path = pack/web/start/tsx
	url = git@github.com:peitalin/vim-jsx-typescript.git
[submodule "pack/lang/start/ion"]
	path = pack/lang/start/ion
	url = git@gitlab.redox-os.org:redox-os/ion-vim.git
[submodule "pack/lang/start/v"]
	path = pack/lang/start/v
	url = git@github.com:ollykel/v-vim.git
[submodule "pack/lang/start/toml"]
	path = pack/lang/start/toml
	url = git@github.com:cespare/vim-toml.git
[submodule "pack/coc/start/coc"]
	path = pack/coc/start/coc
	url = git@github.com:neoclide/coc.nvim.git
